body {
    background-color: white;
}

/*HomePage css*/ 
#logo {
    text-align: right;
}

.display-4 {
    font-weight: bold; /*Title of the jumbotron edited here*/
}

.lead {
    font-weight: bold;
}

.navbar-default {
   
}

.btn btn-primary {
    /*needs editing to flow better*/
}

.jumbotron {
    background-image: url(jumbotronBackground.jpg);
    text-align: center;
    height: 650px;
    padding: 150px;
    border: solid 1px;
}

#email {
    width: 300px;
}

.form-inline {
    display: inline-block;
    padding: 50px;
    
    h1{
    text-align:center;
    background-color:white;
    border-style:double;
}
figure1{
float: left;
width: 18%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
clear:both;
}
figure2{
float: left;
width: 15%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure3{
float: left;
width: 22%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure4{
    float: left;
    width: 33%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thick black solid;
    margin: 0.5em;
    padding: 0.5em;
}
figure5{
float: left;
width: 38%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
clear:both;
}
figure6{
    float: left;
width: 33%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure7{
    float: left;
width: 15%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure8{
    float: left;
width: 13%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
clear: both;
}
figure9{
    float: left;
width: 20%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure10{
    float: left;
width: 25%;
text-align: center;
font-style: italic;
font-size: smaller;
text-indent: 0;
border: thick black solid;
margin: 0.5em;
padding: 0.5em;
}
figure11{
    float: left;
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thick black solid;
    margin: 0.5em;
    padding: 0.5em;
}
}

.container {
    padding: 45px;
    border: double;
    max-width: 80%;
}

.containerFooter {
    background-color: white;
    padding: 5px;
    max-width: 100%;
    text-align: center;
}


/*HomePagecss end*/
/*ContactPageCSS begins*/
.contact-container {
    text-align: center;
    background-color: blue;
    
}
